@import 'base/variables.css';

@import 'base/globals.css';

@import 'components/animations.css';
@import 'components/language.css';
@import 'components/buttons.css';
@import 'components/forms.css';
@import 'components/header.css';
@import 'components/hero.css';
@import 'components/about.css';
@import 'components/skills.css';
@import 'components/projects.css';
@import 'components/contact.css';
@import 'components/footer.css';
@import 'components/theme.css';