:root {
      --gradient-start: #448fd6;
  --gradient-middle: #448fd6;
  --gradient-end: #2f6688;
  --cloud-opacity: 0.5;
}

[data-theme="dark"] {
  --gradient-start: #3c506d;
  --gradient-middle: #3c506d;
  --gradient-end: #05080d;
  --cloud-opacity: 0.4;
}

body {
  animation: themeSwitch 0.3s ease;
  min-height: 100vh;
  margin: 0;

  transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  
  background: radial-gradient(circle at center,
      var(--gradient-start) 0%,
      var(--gradient-middle) 15%,
      var(--gradient-end) 100%);
  background-attachment: fixed;
}

[data-theme="dark"] body {
  color-scheme: dark;
}

.clouds-stage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.cloud-container {
  position: absolute;
  left: 0;
  will-change: transform;
  pointer-events: none;
}

.cloud-js {
  display: block;
  width: 100%;
  mix-blend-mode: screen;
  opacity: var(--cloud-opacity);
  filter: blur(2px);
  will-change: transform;
}

@keyframes float {
  from { transform: translateX(-120%); }
  to { transform: translateX(120vw); }
}

@keyframes driftVertical {
  from { transform: translateY(0px); }
  to { transform: translateY(15px); }
}

[data-theme="dark"] .logo-text{
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@keyframes themeSwitch {
  0% { opacity: 0.5; }
  100% { opacity: 1; }

}
